body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-family: sans-serif;
    color: white;
}
main{
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}
.section1{
    background-color: rgba(255, 255,255,0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}
h1{
    text-align: center;
    font-family: Monospace;
}
button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
.section2{
    font-family: Monospace;
    background-color: rgba(255, 255,255,0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 280px;
    height: 500px;
    padding: 0 20px;
}
.refrescar{
    background-color: rgba(255, 255, 255, 0);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: solid white;
    color: white;
    padding: 5px 5px;
    text-align: center;
    font-family: Monospace;
    font-size: 20px ;
    height: 50px;
    width: 50%;
}
.estadisticas{
    border: solid white;
    height: 110px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}
footer{
    text-align: center;
}
a{
    text-decoration: none;
}
img{
    width: 80%;
}